.header_container {
    @apply px-4 py-3 bg-[#F9F9F9] shadow-[0px_11px_20.4px_0px_rgba(223,230,243,0.33)] flex w-full justify-between;
}

.header_title {
    @apply text-[25px] font-bold self-center;
}

.header_button {
    @apply w-[50px] h-[50px] bg-white rounded-full flex items-center justify-center;
}

.header_spacer {
    width: 50px;
}

.main-content {
    display: flex;
    max-height: calc(100vh - 200px);
    padding-bottom: 100px;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.footer {
    position: sticky;
    bottom: 0;
    padding: 10px 0px;
    left: 20px;
    right: 20px;
    width: calc(100vw - 40px);
}